@model WebApplication6.Models.User
@{
    ViewBag.Title = "Index";
}

<div>
    <input type="text" id="account" value="@Model.AccountName" />
    <input type="text" id="password" value="@Model.Password" />
</div>

